---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/sections/Hero.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import Services from "../components/sections/Services.astro";
import Privacy from "../components/sections/Privacy.astro";
import SocialProof from "../components/sections/SocialProof.astro";
import Counselors from "../components/sections/Counselors.astro";
import Resources from "../components/sections/Resources.astro";
import FAQ from "../components/sections/FAQ.astro";
import FinalCTA from "../components/sections/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <div class="flex flex-col items-center w-full">
    <NavBar />
    <Hero />
    <HowItWorks />
    <Services />
    <Privacy />
    <SocialProof />
    <Counselors />
    <Resources />
    <FAQ />
    <FinalCTA />
    <Footer />
  </div>
</BaseLayout>
